
<!-- <img src ="https://elements-cover-images-0.imgix.net/3850cb76-db04-4cf8-916b-f35cb0dda4d0?auto=compress%2Cformat&fit=max&w=1370&s=1cb0f033ec4ff6bd26d620761c7e9e51" width = "500" background-color = black; alt = "logo"> -->
<h1> WELCOME TO SURVEY HUB </h1>

<h2> LOGIN </h2>
<!-- <h3> Enter your login details here </h3> -->

<!-- <h4> Enter your full name here </h4> -->
<input type = "text" placeholder="Username"/>
<!-- <h4> Enter your email ID here </h4> -->
<div class="input-field">
    <span class="fa fa-lock p-2"> </span>
<input type="text" placeholder="Email ID">
<input type="text" placeholder="Password">
</div>


<button><a routerLink="../signup"> SUBMIT </a></button>  

<!--<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Login</h3>
                </div>
            <div class="panel-body p-3">
                <form>  
                    <div class="form-group pt-3"> 
                        <div class="input-field">
                            <span class="fa fa-user p-2"></span> 
                        
                        <input type="text" placeholder="Username">
                    </div>
                    </div>
                    <div class="form-group pt -3">
                        <div class="input-field">
                            <span class="fa fa-lock p-2"> </span>
                            <input type="text" placeholder="Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4 w-100 "> LOGIN</button>
                </form> 
        </div>
    </div>
</div> !-->
