.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 50px; 
  }

  input {
    background-color: white;
    width : 200px;
    font-family: 'Times New Roman', Times, serif;
    tab-size: 30px;
  }