.example-form {
    min-width: 150px;
    max-width: 500px;
    width: fit-content;
  }
  
  .example-full-width {
    width: fit-content;
  }

  input {
    background-color:white ;
    width : 500px;
  }