<body>
    <div class="text-box">
    <span>W</span>
    <span>E</span>
    <span>L</span>
    <span>C</span>
    <span>O</span>
    <span>M</span>
    <span>E</span>
    <hr>
    <span>T</span>
    <span>O</span>
    <br>
    <span>S</span>
    <span>U</span>
    <span>R</span>
    <span>V</span>
    <span>E</span>
    <span>Y</span>
    <hr>
    <span>H</span>
    <span>U</span>
    <span>B</span>

    <button type="submit" class="btn btn-primary btn-block "><a routerLink="/signin">Sign Up</a></button> 
    <button type="submit" class="btn btn-primary btn-block"><a routerLink="/login">Login</a></button> 

    </div>
    

</body>
