button{
    padding : 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 50px;
  
    display: inline-block;
    align-self:auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

button.ques{
    background-color:transparent;
  font-family: 'Times New Roman', Times, serif;
 
}

#bounding-box {
    width: 500px;
    height: 20px;
    border: 1px solid black;
}

button.res{
    background-color:transparent;
    font-family: 'Times New Roman', Times, serif;
}
/* 
button.set{
    background-color:lightpink; */
/* } */

h2{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    font:bolder;
}

h1{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    font:bolder;
    color:white;
}

.drop-area {
border: #120505 dashed 2px;
padding: 500px;
box-sizing: border-box;
margin-top: 15px;
}

input{
color:black;
width : 'width';
}

.hide{
display:none;
}
.show{
display:block;
}

.text{
color: balck;
background-color: transparent;
}

.col-md-3{
background-color: greenyellow;
}

.example-container {
width: 400px;
max-width: 100%;
margin: 0 25px 25px 0;
display: inline-block;
vertical-align: top;
}

.example-list {
border: solid 1px #ccc;
min-height: 60px;
background: white;
border-radius: 4px;
overflow: hidden;
display: block;
}

.example-box {
padding: 20px 10px;
border-bottom: solid 1px #ccc;
color: rgba(0, 0, 0, 0.87);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
cursor: move;
background: white;
font-size: 14px;
}

.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container-fluid{
grid-template-columns: auto auto;
display: grid;
} */

.todo{
margin-left: 1;

}

.done{
justify-content: center;
width :fit-content;
}

.example-container1{
background-color:transparent;
width:500px;
}

.example-box{
background-color: transparent;
width:500px;
font-family:'Times New Roman', Times, serif ;
}

body{
background-image: url("https://cdn.pixabay.com/photo/2022/01/22/01/54/bio-6956069__480.png");
background-size: cover;
background-repeat: no-repeat;
padding: 5px;
width :cover;
margin-bottom: 50px;
}

input {
    background-color: transparent;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top : 35px;
  }

  .example-list{
    background-color: transparent;
    }

    .example-box{
        background-color: transparent;
        font-size:large;
        font-display: bold;
    }

    button.Sub{
        text-align: center;
        margin: auto;
        display: block;
        font-style: none;
        justify-content: center;
      }

    .example-container1{
        background-color: transparent;
        width:500px;
        font-size:xx-large;
        font-display: bold;
      }

      .example-container{
        background-color:transparent;
        width : auto;
        text-align: center;
        margin: auto;
        display: block;
        padding: 10px;
      }

      .mat-toolbar{
        background-color:rgb(86, 140, 151);
      }

      h3{
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-size:large;
        
      }

     