/* .container{
    color:black;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    /* justify-content: center; */
    /* align-items: center; */
    /* grid-template-rows:max-content; */
    /* display: inline-block;
    margin-inline: 50px;
    max-width: fit-content; */


   
    button{
        padding : 10px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 50px;
        margin-left: 50px;

        
        border-radius: 0x;
        display: inline-block;
        align-self:auto;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
         margin: auto;
        display: inline-block;
    }

    button.ques{
        background-color:lightblue;
      font-family: 'Times New Roman', Times, serif;
    }

    #bounding-box {
        width: 500px;
        height: 20px;
        border: 1px solid black;
    }

    button.res{
        background-color:lightgreen;
        font-family: 'Times New Roman', Times, serif;
    }
/* 
    button.set{
        background-color:lightpink; */
    /* } */

    h2{
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

   h1{
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: 'Times New Roman', Times, serif;
   }

   .drop-area {
   border: #120505 dashed 2px;
   padding: 500px;
   box-sizing: border-box;
   margin-top: 15px;
   }
   
   input{
    color:black;
    width : 'width';
   }

   .hide{
    display:none;
  }
  .show{
    display:block;
  }

  .text{
    color: balck;
    background-color: transparent;
  }

  .col-md-3{
    background-color: greenyellow;
  }

  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .container-fluid{
    grid-template-columns: auto auto;
    display: grid;
  } */

  .todo{
margin-left: 1;

  }

  .done{
    justify-content: center;
    width :fit-content;
  }

  .example-container1{
    background-color:transparent;
    width:500px;
  }

  .example-container{
    background-color:transparent;
    width : auto;
    text-align: center;
    margin: auto;
    display: block;
    padding: 10px;
  }

  .example-box{
    background-color: transparent;
    width:500px;
    font-family:'Times New Roman', Times, serif ;
  }

  body{
    background-image: url(https://wallpaperaccess.com/full/1771974.jpg);
  }

input {
  background-color: transparent;
  width: auto;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 5px;
  padding: 5px;
  text-align: center;
  margin: auto;
  display: block;
  margin-top : 35px;
}