
<mat-toolbar>
  <h1> Survey Forms </h1>
</mat-toolbar>
<body>
<!-- <div class="container">
    <h1> MY FORMS </h1>  -->
<button class="ques" ng-click="customExpression"> RESPONSES </button>
<button class="res"> SETTINGS </button>

<input type placeholder= "ENTER TITLE">

<input type placeholder= "ENTER DESCRIPTION">


<div cdkDropListGroup>
  <div class="example-container1">
    <h2>Components</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Form</h2>

    <div
      cdkDropList
      class="example-list"
      [cdkDropListData]="done"
      (cdkDropListDropped)="drop($event)">
      <!-- <div class="example-box" *ngFor="let item of tasks; let i =index" cdkDrag>{{item.description}}
        <div class="box">
          <button (click)="deleteTask(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button (click)="onEdit(item, i)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
      </div> -->
      <div class="example-box" *ngFor="let item of currentContainer, let i =index" cdkDrag>
        <div class="box">
          <button (click)="deleteTask(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        
      
        <app-input *ngIf="item === 'Input'"></app-input>
        <app-radio *ngIf="item === 'Radio'"></app-radio>
        <app-checkbox *ngIf="item === 'Checkbox'"></app-checkbox>
      </div>
    </div>
  </div>
</div>
</div>

<button><a routerLink="../form"> SUBMIT </a></button>
</body>