<body>
<div class="container">
         <h1> DASHBOARD </h1> 
    
<h2>Choose your preferred template </h2>
<button class="edu"><i class="fa fa-book" aria-hidden="true"><a routerLink="../edu"> Education </a></i></button>
<button onclick class="tech"><i class="fa fa-cloud" aria-hidden="true"><a routerLink="../tech">Technology </a></i></button>
<button onclick="hlt"><i class="fa fa-medkit" aria-hidden="true"><a routerLink="../hlt"> Health </a></i></button>
<button class="emp"><i class="fa fa-briefcase" aria-hidden="true"><a routerLink="../emp"> Employee </a></i></button>
<button class="cst"><i class="fa fa-male" aria-hidden="true"><a routerLink="../cst"> Customer </a></i></button>
<button class="oth"><i class="fa fa-bullseye" aria-hidden="true"> <a routerLink="../oth"> Other </a></i></button>
</div>
</body>